/* ===========================
   FONTS
   =========================== */

/* raleway-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/raleway-v37-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/raleway-v37-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ===========================
   RESET
   =========================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
      
img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}
      
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
    background: none;
    border-color: transparent;
}
      
a {
    text-decoration: none;
    color: inherit;
}
      
ul,
ol {
    list-style-type: none;
}
      
/* ===========================
       CSS VARIABLES
   =========================== */
      
:root {
      
    /* Primary */

    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    /* Accent */

    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    /* Neutral */
    
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    --light-gray-shadow: rgba(191,191,191,0.1);
      
    --font-base: 'Open Sans', sans-serif;
    --font-title: 'Raleway', sans-serif;
}
   
/* ===========================
      BASE
   =========================== */
   
body {
    font-family: var(--font-base);
    color: var(--very-dark-blue);
    font-size: 16px;
    background-color: white;
}

/* ===========================
   LAYOUT & ELEMENTS
   =========================== */

.header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4375rem;
    padding: clamp(1.4375rem, -0.125rem + 6.666666666666667vw, 3rem);
}

.header__logo {
    width: 5.0625rem;
    width: clamp(5.0625rem, 0rem + 21.6vw, 10.125rem);
}

.header__links {
    display: flex;
    gap: 1.3125rem;
    gap: clamp(1.3125rem, -0.5rem + 7.733333333333333vw, 3.125rem);
}

.header__link {
    font-family: var(--font-title);
    font-size: 0.8125rem;
    font-size: clamp(0.8125rem, 0.125rem + 2.933333333333333vw, 1.5rem);
}

.accessibility {
    display: flex;
    flex-direction: column-reverse;
    padding: 4.625rem 1.625rem 6.125rem;
    padding: clamp(4.625rem, 0.375rem + 18.133333333333333vw, 8.875rem) 
             clamp(1.625rem, 1.125rem + 2.1333333333333333vw, 2.125rem)
             clamp(6.125rem, 0.0625rem + 25.866666666666667vw, 12.1875rem);
    text-align: center;
}

.accessibility__image {
    width: clamp(0rem, 82.5vw, 40.125rem);
    margin: 0 auto;
}

.accessibility__title {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 0rem + 6.4vw, 3rem);
    line-height: 2.3125rem;
    line-height: clamp(2.3125rem, 0.12500000000000044rem + 9.333333333333332vw, 4.5rem);
    margin: 2.25rem 0 1.5rem;
    margin: clamp(2.25rem, -0.3125rem + 10.933333333333332vw, 4.8125rem)
            0 clamp(1.5rem, 0rem + 6.4vw, 3rem);
    letter-spacing: 0.03em;
}

.accessibility__description {
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 1.1102230246251565e-16rem + 3.733333333333333vw, 1.75rem);
    line-height: 1.3125rem;
    line-height: clamp(1.3125rem, 0rem + 5.6000000000000005vw, 2.625rem);
    margin: 1.4375rem 0.75rem 1.875rem 0.3125rem;
    margin: clamp(1.4375rem, -0.125rem + 6.666666666666667vw, 3rem)
            clamp(0.75rem, -2.5625rem + 14.133333333333335vw, 4.0625rem)
            clamp(1.875rem, -0.375rem + 9.6vw, 4.125rem)
            clamp(0.3125rem, -2.25rem + 10.933333333333332vw, 2.875rem);

}

.accessibility__form {
    margin: 0.6875rem;
    margin: 0 clamp(0.6875rem, -1.125rem + 7.733333333333333vw, 2.5rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    gap: clamp(1rem, -0.0625rem + 4.533333333333333vw, 2.0625rem);
}

.accessibility__input {
    width: 100%;
    border: 1px solid var(--desaturated-blue);
    border-radius: 4px;
    padding: 0.5625rem 1.375rem;
    padding: clamp(0.5625rem, -0.625rem + 5.066666666666666vw, 1.75rem)
             clamp(1.375rem, 0.1875rem + 5.066666666666666vw, 2.5625rem);
}

.accessibility__input::placeholder {
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0rem + 3.2vw, 1.5rem);
    letter-spacing: 0.01em;
    color: var(--light-gray);
}

.accessibility__button {
    background-color: var(--bright-blue);
    color: var(--light-grayish-blue);
    padding: 0.5rem;
    padding: clamp(0.5rem, -0.125rem + 2.6666666666666665vw, 1.125rem);
    width: 100%;
    border-radius: 4px;
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 1.1102230246251565e-16rem + 3.733333333333333vw, 1.75rem);
}

.collaboration {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--light-grayish-blue);
}

.bg__image-desktop {
    display: none;
}

.bg__image-mobile {
    width: 23.4375rem;
    width: 100vw;
}

.collaboration__image {
    width: clamp(0rem, 86vw, 39.5625rem);
    margin: 0 auto;
    padding-top: 2rem;
    padding-top: clamp(2rem, -0.375rem + 10.133333333333333vw, 4.375rem);
}

.collaboration__content {
    padding: 86px 20px 82px;

    padding: 183px 39px 164px;

    padding: 5.375rem 1.25rem 5.125rem;
    padding: clamp(5.375rem, -0.6875rem + 25.866666666666667vw, 11.4375rem)
             clamp(1.25rem, 0.0625rem + 5.066666666666666vw, 2.4375rem)
             clamp(5.125rem, 0rem + 21.866666666666664vw, 10.25rem);
    

}

.collaboration__title {
    font-family: var(--font-title);
    text-align: center;
    letter-spacing: 0.04em;
    font-size: 0.9375rem;
    font-size: clamp(0.9375rem, -0.125rem + 4.533333333333333vw, 2rem);
    line-height: 1.375rem;
    line-height: clamp(1.375rem, 0.5000000000000001rem + 3.733333333333333vw, 2.25rem);
    margin-bottom: 1.5rem;
    margin-bottom: clamp(1.5rem, -0.3125rem + 7.733333333333333vw, 3.3125rem);
}

.collaboration__description {
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 1.1102230246251565e-16rem + 3.733333333333333vw, 1.75rem);
    line-height: 1.3125rem;
    line-height: clamp(1.3125rem, 0rem + 5.6000000000000005vw, 2.625rem);
    padding-right: 0.75rem;
    padding-right: clamp(0.75rem, 0.25rem + 2.1333333333333333vw, 1.25rem);
    margin-bottom: 1.0625rem;
    margin-bottom: clamp(1.0625rem, 0.1875000000000001rem + 3.733333333333333vw, 1.9375rem);

}

.collaboration__cta {
    width: 8.1875rem;
    width: clamp(8.1875rem, 34.9vw, 16.3125rem);
    margin: 2.0625rem 2.625rem;
    margin: clamp(2.0625rem, -0.5rem + 10.933333333333332vw, 4.625rem)
            auto clamp(2.625rem, 0.25rem + 10.133333333333333vw, 5rem);
}

.collaboration__cta-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collaboration__cta-text {
    color: var(--moderate-cyan);
    line-height: 24px;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0rem + 3.2vw, 1.5rem);
}

.collaboration__cta-icon {
    width: 0.75rem;
    width: clamp(0.75rem, -0.625rem + 5.866666666666666vw, 2.125rem);
    height: 0.75rem;
    height: clamp(0.75rem, -0.625rem + 5.866666666666666vw, 2.125rem);
}

.collaboration__cta-divider {
    background-color: var(--moderate-cyan);
    height: 1px;
}

.collaboration__testimonial {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 1px 6px 6px var(--light-gray-shadow);
    margin: 0 1.75rem;
    margin: 0 clamp(1.75rem, -0.0625rem + 7.733333333333333vw, 3.5625rem);
    padding: 41px 26px 44px 52px;
    padding: 1.25rem 1rem 1.3125rem 1.625rem;
    padding: clamp(1.25rem, -0.0625rem + 5.6000000000000005vw, 2.5625rem)
             clamp(1rem, 0.375rem + 2.6666666666666665vw, 1.625rem)
             clamp(1.3125rem, -0.125rem + 6.133333333333333vw, 2.75rem)
             clamp(1.625rem, 0rem + 6.933333333333333vw, 3.25rem);
}

.collaboration__testimonial-icon {
    width: 12px;
    height: 12px;
    width: clamp(0.75rem, -0.12499999999999989rem + 3.733333333333333vw, 1.625rem);
    height: clamp(0.75rem, -0.12499999999999989rem + 3.733333333333333vw, 1.625rem);
}

.collaboration__testimonial-text {
    margin: 0.375rem 0 0.75rem;
    margin: clamp(0.375rem, -0.125rem + 2.1333333333333333vw, 0.875rem)
            0 clamp(0.75rem, 0rem + 3.2vw, 1.5rem);
    font-size: 0.625rem;
    font-size: clamp(0.625rem, 0rem + 2.6666666666666665vw, 1.25rem);
    line-height: 1.125rem;
    line-height: clamp(1.125rem, 0rem + 4.8vw, 2.25rem);
    letter-spacing: 0.028em;
}

.collaboration__testimonial-author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    gap: clamp(0.5rem, 0.125rem + 1.6vw, 0.875rem);
}

.collaboration__testimonial-avatar {
    width: clamp(24px, 6.4vw, 47px);
    max-height: fit-content;
    border-radius: 50%;
}

.collaboration__testimonial-name {
    font-size: 0.5625rem;
    font-size: clamp(0.5625rem, 0rem + 2.4vw, 1.125rem);
    line-height: 0.75rem;
    line-height: clamp(0.75rem, 0rem + 3.2vw, 1.5rem);
    margin-bottom: 0.25rem;
    margin-bottom: clamp(0.25rem, -0.125rem + 1.6vw, 0.625rem);
    letter-spacing: 0.07em;
    font-weight: 700;
}

.collaboration__testimonial-role {
    font-size: 0.375rem;
    font-size: clamp(0.375rem, 0rem + 1.6vw, 0.75rem);
    line-height: 0.5625rem;
    line-height: clamp(0.5625rem, 0.375rem + 0.8vw, 0.75rem);
    font-weight: 700;
    letter-spacing: 0.04em;
}

.signup {
    background-color: var(--desaturated-blue);
    color: white;
    text-align: center;
    padding: 3.375rem 2.25rem 4.375rem;
    padding: clamp(3.375rem, 0.1875rem + 13.6vw, 6.5625rem)
             clamp(2.25rem, 0.4375rem + 7.7333vw, 4.0625rem)
             clamp(4.375rem, -0.1875rem + 19.4667vw, 8.9375rem);
}

.signup__title {
    font-family: var(--font-title);
    letter-spacing: 0.08em;
    font-size: 1rem;
    font-size: clamp(1rem, -0.25rem + 5.3333vw, 2.25rem);
    line-height: 1.5rem;
    line-height: clamp(1.5rem, -0.25rem + 7.4667vw, 3.25rem);
    margin-bottom: 1.0625rem;
    margin-bottom: clamp(1.0625rem, 0.0625rem + 4.2667vw, 2.0625rem);
}

.signup__description {
    font-size: 0.875rem;
    font-size: clamp(0.875rem, 0rem + 3.7333vw, 1.75rem);
    line-height: 1.3125rem;
    line-height: clamp(1.3125rem, 0.0625rem + 5.3333vw, 2.5625rem);
    padding-right: 1.4375rem;
    padding-right: clamp(1.4375rem, 0.125rem + 5.6vw, 2.75rem);
    margin-bottom: 1.4375rem;
    margin-bottom: clamp(1.4375rem, -0.25rem + 7.2vw, 3.125rem);

}

.signup__form-inner {
    display: flex;
    flex-direction: column;
    width: 15rem;
    width: clamp(15rem, 0rem + 64vw, 30rem);
    margin: 0 auto;
    gap: 0.5625rem;
    gap: clamp(0.5625rem, 0.125rem + 1.8667vw, 1rem);
}

.signup__input {
    background-color: white;
    border: none;
    border-radius: 2px;
    /* line-height: 30px; */
    height: 2rem;
    height: clamp(2rem, 0rem + 8.5333vw, 4rem);;
    padding: 0.125rem 0.375rem 0.375rem;
    padding: clamp(0.125rem, -1rem + 4.8vw, 1.25rem)
             clamp(0.375rem, -0.25rem + 2.6667vw, 1rem)
             clamp(0.375rem, -0.5rem + 3.7333vw, 1.25rem);
}

.signup__input::placeholder {
    color: var(--light-gray);
    letter-spacing: -0.01em;
    font-size: 0.625rem;
    font-size: clamp(0.625rem, 0rem + 2.6667vw, 1.25rem);
    line-height: 0.625rem;
    line-height: clamp(0.625rem, -0.125rem + 3.2vw, 1.375rem);
}

.signup__button {
    background-color: var(--bright-blue);
    border: none;
    border-radius: 2px;
    letter-spacing: 0.02em;
    font-size: 0.625rem;
    font-size: clamp(0.625rem, 0rem + 2.6667vw, 1.25rem);
    padding: 0.5rem;
    padding: clamp(0.5rem, -0.125rem + 2.6667vw, 1.125rem);
}

.footer {
    background-color: var(--very-dark-blue);
    color: white;
}

.footer__references {
    padding: 4.125rem 2.5rem 2.75rem;
    padding: clamp(4.125rem, 0.125rem + 17.0667vw, 8.125rem)
             clamp(2.5rem, 0.1875rem + 9.8667vw, 4.8125rem)
             clamp(2.75rem, 0rem + 11.7333vw, 5.5rem);
}

.footer__contact {
    margin-bottom: 3.875rem;
    margin-bottom: clamp(3.875rem, 0.25rem + 15.4667vw, 7.5rem);
}

.footer__logo {
    width: 11rem;
    width: clamp(11rem, -0.0625rem + 47.199999999999996vw, 22.0625rem);
    margin-bottom: 2.625rem;
    margin-bottom: clamp(2.625rem, -0.1875rem + 12vw, 5.4375rem);;
}

.footer__contact-group {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    gap: clamp(1.25rem, -0.25rem + 6.4vw, 2.75rem);
    margin-bottom: 1.375rem;
    margin-bottom: clamp(1.375rem, -0.3125rem + 7.2vw, 2rem);
    /* margin-bottom: 32px; */
}

.footer__phone-img {
    width: 1.125rem;
    width: clamp(1.125rem, 0rem + 4.8vw, 2.25rem);
    height: 1.125rem;
    height: clamp(1.125rem, 0rem + 4.8vw, 2.25rem);
}

.footer__contact-phone, 
.footer__contact-email {
    font-size: 1rem;
    font-size: clamp(1rem, 0.125rem + 3.7333vw, 1.875rem);
    font-size: 1.125rem;
    font-size: clamp(1.125rem, 0.375rem + 3.2vw, 1.875rem);
}

.footer__email-img {
    width: 1.25rem;
    width: clamp(1.25rem, 0rem + 5.3333vw, 2.5rem);
    height: 1.0625rem;
    height: clamp(1.0625rem, 0rem + 4.5333vw, 2.125rem);
}

.footer__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.footer__link {
    font-size: 1rem;
    font-size: clamp(1rem, 0rem + 4.2667vw, 2rem);
    line-height: 1rem;
    line-height: clamp(1rem, 0rem + 4.2667vw, 2rem);
    margin-bottom: clamp(1.375rem, 0rem + 5.8667vw, 2.75rem);
    margin-bottom: clamp(1.375rem, 0rem + 5.8667vw, 2.75rem);
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    gap: clamp(0.25rem, 0rem + 1.0667vw, 0.5rem);
}

.footer__social-icon {
    width: 2.125rem;
    width: clamp(2.125rem, 0rem + 9.0667vw, 4.25rem);
}

.footer__attribution { 
    font-size: 1rem;
    font-size: clamp(1rem, 0.125rem + 3.7333vw, 1.875rem);
    text-align: center;
}

.footer__attribution-link { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 750px) {

    .header__link {
        letter-spacing: 0.01em;
    }

    .accessibility__input {
        letter-spacing: -0.01em;
    }

    .collaboration__title {
        letter-spacing: 0em;
    }

    .collaboration__cta-group {
        margin-bottom: 8px;
    }

    .collaboration__testimonial-text {
        letter-spacing: 0.04em;
    }

    .collaboration__testimonial-name {
        letter-spacing: 0.09em;
    }

    .collaboration__testimonial-role {
        letter-spacing: 0.05em;
    }

    .signup__title {
        letter-spacing: 0.0em;
        padding-right: 8px;
    }

    .footer__contact-group {
        padding-left: 4px;
    }

    .footer__contact-phone, 
    .footer__contact-email {
        letter-spacing: 0.03em;
    }

    .footer__links {
        margin-top: 64px;
    }

    .footer__social {
        margin-top: 56px;
    }
}

@media (min-width: 1024px) {

    .header {
        padding: 63px 80px;
    }

    .header__links {
        gap: 52px;
    }

    .header__link {
        font-size: 17px;
    }

    .accessibility {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 32px 80px 157px;
    }

    .accessibility__content {
        max-width: 41.4vw;
        text-align: start;
    }

    .accessibility__title {
        line-height: 60px;
        margin: 71px 0 15px;
        letter-spacing: 0.0em;
        font-family: var(--font-title);
        font-size: 2.5rem;
    }

    .accessibility__description {
        font-size: 18px;
        line-height: 24px;
        margin: 15px 0 26px;
    }

    .accessibility__form {
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;
        gap: 16px;
    }

    .accessibility__input {
        max-width: 320px;
        padding: 12px 21px;
    }

    .accessibility__input::placeholder {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.05em;
    }

    .accessibility__button {
        font-size: 14px;
        line-height: 14px;
        padding: 10px;
        max-width: 200px;
    }

    .accessibility__image {
        width: 28.5rem;
        width: clamp(28.5rem, -0.1154rem + 44.7115vw, 40.125rem);
    }

    .bg__image-desktop {
        display: block;
        width: 100vw;
    }
    
    .bg__image-mobile {
        display: none;
    }

    .collaboration {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 58px 80px 106px;
    }

    .collaboration__content {
        max-width: 45.4vw;
        padding: 0px;
    }

    .collaboration__title {
        font-size: 2.5rem;
        line-height: 60px;
        margin-bottom: 30px;
        text-align: start;
        padding-right: 90px;
    }

    .collaboration__description {
        font-size: 16px;
        line-height: 24px;
        padding-right: 130px;
        margin-bottom: 16px;
    }

    .collaboration__cta {
        margin: 16px 0px 45px;
        max-width: 170px;
    }

    .collaboration__cta-text {
        font-size: 17px;
        line-height: 17px;
        letter-spacing: -0.04em;
    }

    .collaboration__cta-icon {
        width: 17px;
        height: 17px;
    }

    .collaboration__testimonial {
        margin: 45px 0 0;
        padding: 28px 33px 27px;
        max-width: 356px;
    }

    .collaboration__testimonial-icon {
        width: 16px;
        height: fit-content;
    }

    .collaboration__testimonial-text {
        font-size: 14px;
        line-height: 23px;
        letter-spacing: -0.001em;
        margin: 8px 0 15px;
    }

    .collaboration__testimonial-avatar {
        max-width: 32px;
    }

    .collaboration__testimonial-author {
        gap: 8px;
    }

    .collaboration__testimonial-name{
        font-size: 11px;
        line-height: 11px;
        margin: 2px 0 6px;
    }

    .collaboration__testimonial-role {
        font-size: 8px;
        line-height: 8px;
        font-weight: 400;
    }

    .collaboration__image {
        width: clamp(23.9375rem, 0.0913rem + 37.2596vw, 33.625rem);
        padding: 32px 0;
    }

    .signup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 107px 120px 36px 80px;
    }

    .signup__info {
        max-width: 566px;
        text-align: start;
    }

    .signup__title {
        font-size: 34px;
        line-height: 34px;
        margin-bottom: 24px;
        letter-spacing: -0.03em;
    }

    .signup__description {
        font-size: 17px;
        line-height: 24px;
    }

    .signup__form-inner {
        gap: 18px;
    }

    .signup__input {
        margin-top: 2px;
        padding: 10px 21px 15px;
        height: 48px;
    }

    .signup__input::placeholder {
        font-size: 12px;
        line-height: 12px;
    }

    .signup__button {
        font-size: 14px;
        padding: 14px;
        max-width: 200px;
    }

    .footer__references {
        padding: 108px 80px 73px;
        display: grid;
        grid-template-columns: repeat(4, auto);
    }

    .footer__logo {
        width: 176px;
        margin-bottom: 22px;
    }

    .footer__contact-group {
        margin: 0 0 15px 0;
        gap: 18px;
    }

    .footer__phone-img {
        width: 18px;
        height: 18px;
    }

    .footer__email-img {
        width: 20px;
        height: 16px;
    }

    .footer__contact-phone,
    .footer__contact-email {
        font-size: 17px;
        letter-spacing: -0.03em;
    }

    .footer__links {
        margin-top: 72px;
    }

    .footer__link {
        font-size: 17px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .footer__social {
        margin-top: 72px;
        justify-content: flex-start;
        gap: 5px;
    }

    .footer__social-icon {
        width: 39px;
    }

    .footer__attribution { 
        font-size: 16px;
        padding: 16px;
    }

}

@media (min-width: 1440px) {
    
    .accessibility {
        align-items: flex-start;
    }

    .collaboration {
        align-items: flex-start;
    }

    .collaboration__title {
        padding-right: 0px;
    }

    .footer__references {
        grid-template-columns: 440px 270px 265px auto;
    }

}